.body{
  background-color: green;
}

.registration{
  background-color:transparent;
  width:50%;
  float:left;
  height:50%
}

.login{
  background-color:transparent;
  width:50%;
  float:right;
  height:50%;
}

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signupbtn {
    
    color: white;
    margin: 8px 290px;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    background-color:black;
    float: right;
    width: 50%;
}
.loginbtn{
  color: white;
    margin: 8px 270px;
    border: none;
    cursor: pointer;
    padding: 14px 20px;
    background-color:black;
    float: right;
    width: 50%;
}