<% include partials/header %>
<form method="POST" action="/result" clas="result">
<h1>To display your previous records please press record button</h1><br><br> 
    <input type="submit" name="submit" value="Records" class="recordsbtn"></input><br><br> 
 <form>
<% include partials/footer %>